<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/layout.css" />
    <link rel="stylesheet" href="/stylesheets/sidebar.css" />
    <link rel="stylesheet" href="/stylesheets/catgegoriesList.css" />
  </head>
  <body>
    <div class="inventory-app">
      <%- include('sidebar') %>

      <div class="page-content">
        <header class="site-header">
          <h1><%= title %></h1>

          <div class="search-container">
            <form method="GET" action="/inventory/categories/search">
              <input
                type="search"
                class="search-bar"
                name="searchText"
                value="<%= searchText %>"
                placeholder="Category (ex: 'School Supplies')"
              />
              <button type="submit">Search</button>
            </form>
          </div>

          <div class="options">
            <button><a href="/inventory/categories/create">New</a></button>
            <!-- <button>Update</button> -->
          </div>
        </header>

        <main>
          <div class="browse-options">
            <%categories.forEach(category => {%>
            <div class="category-option">
              <a class="category-option__name" href="<%- category.url %>">
                <%= category.name %>
              </a>
              <form action="<%- category.url + '/delete' %>" method="POST">
                <button type="submit" class="category-option__delete">Delete</button>
              </form>
              
            </div>
            
            <% }) %>
          </div>

          <dialog <%- showDeleteError ? 'open' : '' %> >
            <div class="dialog-message">
              Category could not be deleted. Please delete products first.
            </div>
            <form method="dialog">
              <button>OK</button>
            </form>
          </dialog>
        </main>
      </div>
    </div>
  </body>
</html>
