<div class="product-option">
    <img
      class="product-option__img"
      src="<%= product.image %>"
      alt="<%= product.name %>"
    />

  <div class="product-option__details">
    <a class="product-option__name" href="<%- product.url %>">
      <%= product.name %>
    </a>

    <p class="product-option__price">$<%= product.price %></p>

    <p class="product-option__description"><%= product.description %></p>


    <form name="productItemForm" method="post">
      <input type="number" value="<%= product.quantity %>" />
      <input type="submit" formmethod="post" formaction="<%= product.url + '/update' %>" value="Edit" />
      <input type="submit" rmmethod="post" formaction="<%= product.url + '/delete' %>" value="Delete" />
    </form>
  </div>
</div>
