<div class="product-option">
    <img
      class="product-option__img"
      src="<%= product.image %>"
      alt="<%= product.name %>"
    />

  <div class="product-option__details">
    <a class="product-option__name" href="<%- product.url %>">
      <%= product.name %>
    </a>

    <p class="product-option__price">$<%= product.price %></p>

    <p class="product-option__description"><%= product.description %></p>


    <form class="product-option__form" name="productItemForm" method="post" autocomplete="off">
      <input type="text" hidden value="<%= submittedFrom %>" name="submittedFrom">
      <input type="number" value="<%= product.quantity %>" name="productQuantity"/>
      <input type="submit" formmethod="post" formaction="<%= product.url + '/update' %>" name="editProduct" value="Edit" />
      <input type="submit" formmethod="post" formaction="<%= product.url + '/delete' %>" name="deleteProduct" value="Delete" />
    </form>
  </div>
</div>
